<html>

<head>
 
    <title>Django Trials</title>



</head>

<body>

    <h1>
	ABOUT DJANGO
	</h1>
    <h2>
    
    Django is a Python-based free and open-source web framework that follows the model-template-view architectural pattern.
        
    It is maintained by the Django Software Foundation, an American independent organization established as a 501 non-profit.
    
    Django can be run in conjunction with Apache, Nginx using WSGI, Gunicorn, or Cherokee using flup (a Python module). Django also includes the ability to launch a FastCGI server, enabling use behind any web server which supports FastCGI, such as Lighttpd or Hiawatha. It is also possible to use other WSGI-compliant web servers. Django officially supports four database backends: PostgreSQL, MySQL, SQLite, and Oracle. Microsoft SQL Server can be used with django-mssql on Microsoft operating systems,[26] while similarly external backends exist for IBM Db2,SQL Anywhere and Firebird. There is a fork named django-nonrel, which supports NoSQL databases, such as MongoDB and Google App Engine's Datastore.

    Django may also be run in conjunction with Jython on any Java EE application server such as GlassFish or JBoss. In this case django-jython must be installed in order to provide JDBC drivers for database connectivity, which also can provide functionality to compile Django in to a .war suitable for deployment.

Google App Engine includes support for Django version 1.x.x as one of the bundled frameworks.
    
    
    </h2>


</body>


		
  <a href = "{% url "home" %}"> <b>HOME</b> </a>

</html>