
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<div class="container text-center">
<h1> Fetching Employee data </h1>

<form action="fetch">


<br>

 Enter ID for which you want to fetch the details <input type = "text" name = "id"></input>

<input type = "submit" value = "Fetch details" class = "btn btn-primary">

</form>

<a href="{% url 'about' %}">ABOUT</a>	

</div>